fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #2b031d;
            box-shadow:  0px 0px 0px 0px #2b031d;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;;
}

.main-container{
    background-color: #99cccc;
    height: 91.5%;
    overflow-y: auto;
}

.main-card{
    border-block: initial;
}

.mat-icon{
    color: #fb0505fd;
}