<div class="container-fluid mx-1 p-1 my-3">
    <div class="m-3 text-center"><h4>Report Issue</h4></div>

    <div class="mt-4 mx-0 px-0">
        <form [formGroup]="reportForm" (keydown.enter)="reportPressEnter()">
            <div class="row mb-1 mx-1">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Machine Name</mat-label>
                        <mat-select formControlName="mid" [disabled]="element">
                            <mat-option *ngFor="let st of machine" [value]="st.mid">{{st.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.mid.hasError('required')">
                            Machine Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-1 mx-1">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Machine Status</mat-label>
                        <mat-select formControlName="msid">
                            <mat-option *ngFor="let tp of status" [value]="tp.msid">{{tp.status_des}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.msid.hasError('required')">
                            Status is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-1 mx-1">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Event Time</mat-label>
                        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date & time" formControlName="event_time">    
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                            <mat-error *ngIf="form.event_time.hasError('required')">
                                Event Time is <strong>required</strong>
                            </mat-error>
                     </mat-form-field>
                </div>
            </div>

            <div class="row mb-1 mx-1">
                <div class="col">
                    <mat-form-field class="textarea">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="des" [errorStateMatcher]="matcher" placeholder="Ex. This machine use for welding purpose."></textarea>
                        <mat-error *ngIf="form.des.hasError('required')">
                            Description is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

        </form>
    </div>

    <div class="row float-right mt-auto mr-1">
        <div class="col mr-0 pr-0">
            <button class="btn btn-primary" type="button" (click)="closeDialog()">Cancel</button>
        </div>
        <div class="col ml-0" *ngIf="!element">
            <button class="btn btn-primary" type="button" (click)="save()">Save</button>
        </div>

        <div class="col ml-0" *ngIf="element">
            <button class="btn btn-primary" type="button" (click)="update()">Update</button>
        </div>

    </div>
    
</div>


<!-- <mat-form-field>
                        <mat-label>Event Time</mat-label>
                        <input matInput formControlName="event_time" [errorStateMatcher]="matcher" ngxMatDatetimePicker >  -->
                        <!-- <input matInput formControlName="event_time" [errorStateMatcher]="matcher" placeholder="Ex. " matTimepicker > -->
                        <!-- <mat-error *ngIf="form.event_time.hasError('required')">
                            Event Time is <strong>required</strong>
                        </mat-error>
                    </mat-form-field> -->
                    <!-- <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControl"
                           [min]="minDate" [max]="maxDate" [disabled]="disabled">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                           [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                           [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" 
                           [disableMinute]="disableMinute" [hideTime]="hideTime">
                        </ngx-mat-datetime-picker> -->