<div class="container-fluid mx-1 p-1 my-3">
    <div class="m-3 text-center"><h4>Filler Material</h4></div>
    <div class="mt-4 mx-0 px-0">
        <form [formGroup]="fillerMaterialForm" (keydown.enter)="fillerMaterialPressEnter()"> 
            <div class="row mb-1 mx-1">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Ref. Name</mat-label>
                        <input matInput formControlName="refName" [errorStateMatcher]="matcher" placeholder="Ex. ">
                        <mat-error *ngIf="form.refName.hasError('required')">
                            Ref. Name is <strong>required</strong>
                        </mat-error>
                        
                    </mat-form-field>
                </div>
    
                <div class="col">
                    <mat-form-field>
                        <mat-label>Trade Name</mat-label>
                        <input matInput formControlName="trade_name" [errorStateMatcher]="matcher" placeholder="Ex. ">
                        <mat-error *ngIf="form.trade_name.hasError('required')">
                            Trade Name is <strong>required</strong>
                        </mat-error>
                        
                    </mat-form-field>
                </div>
            </div> 

            <div class="row mb-1 mx-1">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Group</mat-label>
                        <input matInput formControlName="fm_group" [errorStateMatcher]="matcher" placeholder="Ex. ">
                        <mat-error *ngIf="form.fm_group.hasError('required')">
                            Group is <strong>required</strong>
                        </mat-error>
                        
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field>
                        <mat-label>Classification</mat-label>
                        <input matInput formControlName="classification" [errorStateMatcher]="matcher" placeholder="Ex. ">
                        <mat-error *ngIf="form.classification.hasError('required')">
                            Classification is <strong>required</strong>
                        </mat-error>
                        
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-1 mx-1">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Wire Diameter</mat-label>
                        <input matInput formControlName="wire_dia" [errorStateMatcher]="matcher" placeholder="Ex. ">
                        <mat-error *ngIf="form.wire_dia.hasError('required')">
                            Wire Diameter is <strong>required</strong>
                        </mat-error>
                        
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field>
                        <mat-label>Wire Density (gm/cc)</mat-label>
                        <input matInput formControlName="wire_density" [errorStateMatcher]="matcher" placeholder="Ex. ">
                        <mat-error *ngIf="form.wire_density.hasError('required')">
                            Wire Density is <strong>required</strong>
                        </mat-error>
                        
                    </mat-form-field>
                </div>
            </div>  
            
            <div class="row mb-1 mx-1">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Wire Weight Per Length</mat-label>
                        <input matInput formControlName="wire_weight_per_length" [errorStateMatcher]="matcher" placeholder="Ex. ">
                        <mat-error *ngIf="form.wire_weight_per_length.hasError('required')">
                            Wire Weight Per Length is <strong>required</strong>
                        </mat-error>
                        
                    </mat-form-field>
                </div>
            </div> 
        
        </form>
    </div>
    
    <div class="row float-right mt-auto mr-1">
        <div class="col mr-0 pr-0">
            <button class="btn btn-primary" type="button" (click)="closeDialog()">Cancel</button>
        </div>
        <div class="col ml-0" *ngIf="!element">
            <button class="btn btn-primary" type="button" (click)="save()">Save</button>
        </div>
        <div class="col ml-0" *ngIf="element">
            <button class="btn btn-primary" type="button" (click)="update()">Update</button>
        </div>
        
    </div>

</div>
