

<div class="mt-1 mx-auto"> 
    <object type="text/html" data="https://app.powerbi.com/view?r=eyJrIjoiMzAzOTQ0M2UtZWNhNS00MTg0LThmNzItNGQyMDBkYzJhMjE4IiwidCI6IjBjZGIxYWIwLWNmZjItNDcxNy1hZjU4LTgwYzdkZDE1NjI3ZCJ9&pageName=ReportSection" 
        width="1365px" height="590px">
    </object>



    <!-- <iframe src="https://app.powerbi.com/view?r=eyJrIjoiZWE0ZTg3ODYtMDg0My00YzRmLWIwYzItYTU2YTZmOTFjODllIiwidCI6IjBjZGIxYWIwLWNmZjItNDcxNy1hZjU4LTgwYzdkZDE1NjI3ZCJ9&pageName=ReportSection" width="1350px" height="680px">
    </iframe> -->
 </div>
