<div class="container-fluid">

    <div class="row ">
      <div class="col-md-2 col-lg-2 col-sm-12 mb-2">
        <button class="btn btn-primary btn-sm mt-3" type="button" (click)="addNewUser()"><i class="fa fa-plus" aria-hidden="true"></i> User</button>
      </div>

      <div class="col-md-10 col-lg-10 col-sm-12 ">
        <span class="float-right">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
          </mat-form-field>
        </span>
      </div> 
    </div>

    <div class="mat-elevation-z8 mb-4">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="identification_no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Identification No.</strong></th>
            <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Identification No. :'> {{element.identification_no}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Name</strong>  </th>
            <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Name : '> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Email</strong>  </th>
            <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Email : '> {{element.email}} </td>
          </ng-container>


          <ng-container matColumnDef="rolename">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Role</strong></th>
            <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Role : '> {{element.rolename}} </td>
          </ng-container>


          <ng-container matColumnDef="certificate_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Certificate Id</strong>  </th>
            <td mat-cell *matCellDef="let element" class='has_label_on_mobile' test data-label='Certificate Id : '>{{element.certificate_id}}</td>
          </ng-container>

          <ng-container matColumnDef="phno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Phone No</strong>  </th>
            <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Phone No. : '> {{element.phno}} </td>
          </ng-container>

          <ng-container matColumnDef="hierarchy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Hierarchy</strong>  </th>
            <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Hierarchy Name : '> {{element.hierarchy}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef><strong>Action</strong></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{element:element}">
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator class="paginator" [pageSizeOptions]="[8, 20, 30]"></mat-paginator>
    </div>

    <mat-menu #menu="matMenu">
      <ng-template matMenuContent let-aliasMenuItems="element">
        <button mat-menu-item (click)="view_edit(aliasMenuItems)">
          <mat-icon >view_list</mat-icon>
          <span>View/ Edit</span>
        </button>
        <button mat-menu-item (click)="delete(aliasMenuItems)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </ng-template>
    </mat-menu>

</div>
